# GitHub 单文件上限 100MB，超大 zip 使用 LFS
**/Project4.zip filter=lfs diff=lfs merge=lfs -text
**/11920232202561_实验7_芦思瑶.zip filter=lfs diff=lfs merge=lfs -text
**/L9[[:space:]]Animation.pptx filter=lfs diff=lfs merge=lfs -text
