.uploader {
    td.result-block {
        position: relative;
        padding-bottom: 42px;
    }
    
    .upload-block {
        position: absolute;
        bottom: 5px;
    }
    
    .result-block .media {
        margin-top: 10px;
        display: block;
        position: relative;
    }
    
    .result-block .icon {
        width: 40px;
        height: 40px;
        background-color: #4e5154;
        display: inline-block;
        color: #fff;
        font-size: 32px;
        border-radius: 3px;
        padding-top: 0px;
        padding-left: 10px;
        i {
            font-size: 25px;
            margin-left: 0px;
        }
    }
    
    .result-block .breadcrumb {
        margin: 0;
        padding: 0;
        background: none;
        font-size: 11px;
        color: #999;
        line-height: 18px;
    }
    
    .result-block h4 {
        margin: -2px 0 0 0;
        font-size: 18px;
        font-weight: 500;
        color: #2f363d;
        line-height: normal;
    }
    
    .media .remove {
        display: block;
        position: absolute;
        right: 20px;
        top: 0px;
        height: 37px;
        line-height: 37px;
    }

    .text-cut {
        width: 20em;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
}