@scroll-bar-bg: rgba(0, 0, 0, .15);

.text-xs {
    font-size: .75rem
}

.text-sm {
    font-size: .875rem
}

.text-base {
    font-size: 1rem
}

.text-lg {
    font-size: 1.125rem
}

.text-xl {
    font-size: 1.25rem
}

.text-2xl {
    font-size: 1.5rem
}

.text-3xl {
    font-size: 1.875rem
}

.text-4xl {
    font-size: 2.25rem
}

.text-5xl {
    font-size: 3rem
}

.text-6xl {
    font-size: 4rem
}

.text-center {
    text-align: center;
    input, textarea {
        text-align: center;
    }
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: @scroll-bar-bg;
    background: @scroll-bar-bg;
    border-radius: 4px
}

.ant-tree-list-scrollbar-thumb {
    width: 8px !important;
    background: @scroll-bar-bg !important;
    background: @scroll-bar-bg !important;
    border-radius: 4px !important
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
    background: transparent
}

.color-success {
    color: @success-color;
}

.color-warning {
    color: @warning-color;
}

.color-info {
    color: @blue-6;
}

.color-error {
    color: @error-color;
}

.flex-1 {
    flex: 1;
}

.text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}